<h3>Update Client</h3>
<div style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">idClient</label>
      <input type="text" class="form-control" id="idClient" required [(ngModel)]="client.idClient" name="idClient">
    </div>
    <div class="form-group">
      <label for="name">client secacc</label>
      <input type="text" class="form-control" id="idSecAccount" required [(ngModel)]="client.idSecAccount" name="idSecAccount">
    </div>
    <div class="form-group">
        <label for="name">client cashacc</label>
        <input type="text" class="form-control" id="idCashAccount" required [(ngModel)]="client.idCashAccount" name="idCashAccount">
    </div>
    <div class="form-group">
        <label for="name">client email</label>
        <input type="text" class="form-control" id="email" required [(ngModel)]="client.email" name="email">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>